<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Update these settings for your test environment -->
    <add key="Azure.KeyVault.Uri" value="" />
    <add key="Microsoft.Azure.AD.Application.ClientId" value="" />
    <add key="Microsoft.Azure.AD.Application.ClientSecret" value="" />
  </appSettings>
</configuration>