<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Update these settings for your test environment -->
    <add key="Azure.KeyVault.Uri" value="https://ascend-xyz-staging-weu.vault.azure.net/" />
    <add key="Microsoft.Azure.AD.Application.ClientId" value="9b93480d-8263-4e97-9e35-0fd857859d0b" />
    <add key="Microsoft.Azure.AD.Application.ClientSecret" value="MIIByQYJKoZIhvcNAQcDoIIBujCCAbYCAQAxggFaMIIBVgIBADA+MCoxKDAmBgNVBAMTH2FzY2VuZC14eXotc2V0dGluZ3MtY2VydGlmaWNhdGUCEGDBYeWJh9WZTGTYCd8GMrIwDQYJKoZIhvcNAQEBBQAEggEAgFWvq2gg1KvbcWMT5MU18olX+4JD8TSSUv0Nvcy/X1Jf0wart2KzfJA8VCfrkIR71EFR18CJdCq7eKhRViG4UzKZMmiekcbCYKHR+8ER325yDtcC2Wx2rEoHojOnfloXN553+dyhvlZz5ccV7DTX2TTCkmGhcnIXPF0O+qOCWvkDYO3H8J8eHhrOsCXmJoAjba3Rb/gjHs++5G6lsmhuc+VtjModBiRZS6wBB4e4Enof/9G+kQULVCcI3wEhtPqY9TuG256CYWOuqqrfgvx1FaSVz4IExxBAMfKfxttJHn3H14q/3y39knc8hB1SoeAIp9G6mNMrAwuN4E6Dz6YlhTBTBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECODivLC//1ZlgDAUzkK4lLQXS+7CaFzFZCzfdGUhbTGFq0dnWlzQ76FEgAubDV6H00sfYqtj3KEUnTw=" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>